body{
    text-align: center;
    padding: 0%;
    margin: 0;
    min-height: 100mv ;
    border-width:20px 200px;
    border-style:solid;
    border-color: rgba(218, 20, 86, 0.801);
    background-color: rgb(218, 20, 86);

}
.title{
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    font-weight: 700px;
}
input{
   
    width: 50%;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    border-color: rgba(161, 149, 149, 0.24);
    background-color: rgb(230, 233, 219);
}
p{
    font-size: 30px;
}
.facebook{
    background-color: rgba(39, 23, 141, 0.39);
    font-size: 25px;
    padding: 10px;
    margin:2px 5px 15px 5px;
}
.logn{
    width: 25%;
    background-color: rgba(39, 23, 141, 0.39);
    font-size: 25px;
    padding: 10px;
    margin: 25px 5px 15px 5px;
}
.p1{
    font-size: 25px;
    padding: 5% 30% 3% 30%; 
    margin: -20px;
   
}
.p2{
    font-size: 25px;
    padding: 1% 30% 3% 30%; 
    margin: -20px;
   
}
.p0{
    font-size: 25px;
    padding: 5% 30% 5% 30%; 
    margin: -20px;
   
}
